<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp :: header ('index')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:inline="text">
        [[#{products.title}]]
        <small th:text="#{products.index.subtitle}">subtitle</small>
      </h1>
    </div>

    <div th:replace="_temp :: nav"></div>

    <div class="row">
      <div class="col-md-12">

        <nav>
          <ul class="pagination">
            <li>
              <a href="/products/1" th:href="@{/products/} + (${currentPage} == 1 ? 1 : ${currentPage} - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:class="${i} == ${currentPage} ? 'active' : ''" th:each="i : ${#numbers.sequence(1, maxPage)}">
              <a href="/products/1" th:href="@{/products/} + ${i}" th:text="${i}">1</a>
            </li>
            <li>
              <a href="/products/999" th:href="@{/products/} + (${currentPage} == ${maxPage} ? ${maxPage} : ${currentPage} + 1)"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <table class="table table-striped" th:if="${result}">
          <thead>
            <tr>
              <th>#</th>
              <th>product Code</th>
              <th>product Name</th>
              <th>product Line</th>
              <th>product Scale</th>
              <th>product Vendor</th>
              <th>quantity In Stock</th>
              <th>buy Price</th>
              <th>MSRP</th>
              <th>detail</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product, status : ${result}" th:object="${product}">
              <td th:text="${status.count}">idx</td>
              <td th:text="*{productCode}">productCode</td>
              <td th:text="*{productName}">productName</td>
              <td th:text="*{productLine}">productLine</td>
              <td th:text="*{productScale}">productScale</td>
              <td th:text="*{productVendor}">productVendor</td>
              <td th:text="*{quantityInStock}">quantityInStock</td>
              <td th:text="*{buyPrice}">buyPrice</td>
              <td th:text="*{MSRP}">MSRP</td>
              <td>
                <a class="btn btn-default" href="/products/detail/0" th:href="@{/products/detail/} + *{id}">detail</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        total <span class="badge" th:text="${totalCount}">totalCount</span> currentPage <span class="badge" th:text="${currentPage}">currentPage</span> maxPage <span class="badge" th:text="${maxPage}">maxPage</span>
      </div>
    </div>

    <div th:replace="_temp :: footer"></div>
  </div>

  <div th:include="_temp :: script"></div>
</body>
</html>