<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp :: header ('detail')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:inline="text">
        [[#{productlines.title}]]
        <small th:text="#{productlines.detail.subtitle}">subtitle</small>
      </h1>
    </div>

    <div th:replace="_temp :: nav"></div>

    <div class="row">

      <div class="col-xs-5">
        <table class="table" th:if="${productLine}" th:object="${productLine}">
          <caption>product line</caption>
          <tbody>
            <tr>
              <th class="field-label col-xs-3 active">id</th>
              <td class="col-md-9" th:text="*{id}">id</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">productLine</th>
              <td class="col-md-9" th:text="*{productLine}">productLine</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">textDescription</th>
              <td class="col-md-9" th:text="*{#vhs.substring(textDescription,30)}">textDescription</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">htmlDescription</th>
              <td class="col-md-9" th:text="*{#vhs.substring(htmlDescription,30)}">htmlDescription</td>
            </tr>
            <tr>
              <th class="field-label col-xs-3 active">image</th>
              <td class="col-md-9" th:text="*{image}">image</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-7">
        <div class="well">
        -
        </div>
      </div>

    </div>

    <div class="row well">
      <div class="col-md-6">
        <h5>JSON&nbsp;<small>json pretty print</small></h5>
        <textarea rows="10" class="span12" th:text="${json}"></textarea>
      </div>
      <div class="col-md-6">
        <h5>&nbsp;</h5>
        <pre class="prettyprint linenums" th:text="${json}"></pre>
      </div>
    </div>

    <div th:replace="_temp :: footer"></div>
  </div>

  <div th:include="_temp :: script"></div>
</body>
</html>